

.login-singup-loading{
    width: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 150px;
}

.signup{
    background: #11101D;
    width: 100vw;
    margin-top: 70px;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

.signup form{
    position: relative;
    width: 520px;
    background-color: rgba(255, 255, 255, 0.06);
    background: #1d1b31;
    border-radius: 2px;
    backdrop-filter: blur(10px);
    border: 2px solid white;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 30px 25px;
}

.signup .error-line{
    text-align: center;
    font-size: 24px;
    color: #f44336;
    font-weight: bold;
    letter-spacing: 1.2px;
    margin-top: 10px;
}

.signup form *{
    color: #ffffff;
    letter-spacing: 1.2px;
    outline: none;
    border: none;
}
.signup form h3{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.signup label{
    display: block;
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 3px;
    font-weight: 500;
}
.signup input{
    display: block;
    height: 45px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    letter-spacing: 1.5px;
    font-size: 18px;
    font-weight: 300;
}
.signup ::placeholder{
    color: #acacac;
}
.signup button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
    margin-top: 30px;
    width: 100%;
    padding: 13px 0;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    /* background-color: #ffffff; */
    /* color: #080710; */
    /* border: 2px solid white; */
    background-color: rgb(9, 8, 18, 0.2);
    color: #ffffff;
    border: 2px solid white;
    font-weight: normal;
    transition: all 250ms ease-out;
}
/* .signup button:hover{
    background-color: rgb(9, 8, 18, 0.2);
    color: #ffffff;
    border: 2px solid white;
    font-weight: normal;
} */

.signup .links{
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}

.signup .links a{
    color: #1DA1F2;
    text-decoration: none;
    font-size: 18px;
}


@media screen and (max-width:1000px){
   
    .signup form{
        width: 90vw;
        padding: 20px 18px;
    }

    .signup .error-line{
        font-size: 18px;
    }

    .signup form h3{
        font-size: 30px;
    }

    .signup label{
        margin-top: 13px;
        font-size: 18px;
    }

    .signup input{
        height: 38px;
        padding: 0 10px;
        margin-top: 8px;
        font-weight: normal;
    }

    .signup button{
        padding: 8px 0;
        font-size: 20px;
    }

    .signup .links{
        font-size: 18px;
    }
    
    .signup .links a{
        font-size: 18px;
    }
}