.profile{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.profile .personal-info{
    width: 24vw;
    height: calc(91vh - 100px);
    margin-right: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    background-color: #1d1b31;
    border-radius: 2px;
    font-size: 23px;
    align-items: center;
    padding: 35px 0px;
}

.profile .image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profile .main-profile-image{
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    border-radius: 100%;
}

/* CSS for file input */

.profile .box{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.profile .file-label{
    width:50px;
    height:40px;
    overflow:hidden;
    position:relative;
    background-color:#1d1b31;
    cursor: pointer;
}
.profile .file-icon{
    width: 50px;
    height: 40px;
}

.profile .profile-input-file {
    z-index: 999;
    position: absolute;
    top: -2px;
    left: -700px;
    opacity: 0;
    margin: 0;
    padding:0;
}

.profile .box button{
    margin-top: 12px;
    margin-bottom: 10px;
    width: 100px;
    height: 38px;
    background-color: #3f51b5;
    color: white;
    font-size: 18px;
    letter-spacing: 1.3px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 20px;
    transition: all 250ms ease-out;
}


/* end css for file input */


.profile .mt-p{
    margin-top: 15px;
}
.profile .mb-p{
    margin-bottom: 20px;
}


.profile .profile-follow-btn{
    width: 150px;
    height: 45px;
    background-color: #3f51b5;
    color: white;
    font-size: 20px;
    letter-spacing: 1.3px;
    border-radius: 2px;
    outline: none;
    border: none;
    margin: 15px 0px;
    cursor: pointer;
}


.profile .tweets-follower-section{
    display: flex;
    margin-top: 15px;
}

.profile .tweets-follower-child-section{
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



@media screen and (max-width:1000px){

    .profile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .profile .personal-info{
        width: 90vw;
        margin: 0;
        height: fit-content;
        margin-bottom: 20px;
        font-size: 21px;
    }

    .profile .main-profile-image{
        width: 180px;
        height: 180px;
        margin-bottom: 12px;
    }


    .profile .mt-p{
        margin-top: 10px;
    }
    .profile .mb-p{
        margin-bottom: 5px;
    }

    .profile .profile-follow-btn{
        width: 130px;
        height: 40px;
        font-size: 19px;
        margin-bottom: 8px;
    }
}