.single-tweet-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.full-tweet{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-tweet-section .comment-input-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    margin-bottom: 40px;
}

.single-tweet-section .comment-input-div input{
    width: 600px;
    height: 38px;
    outline: none;
    border: none;
    padding: 10px;
    font-size: 22px;
    border-radius: 2px;
    margin-bottom: 15px;
    background: #e7f0ed;
}

.single-tweet-section .comment-input-div button{
    outline: none;
    border: none;
    padding: 12px 40px;
    border-radius: 2px;
    font-size: 20px;
    cursor: pointer;
    background: #3D59AB;
    color: white;
    letter-spacing: 1.2px;
}

.single-tweet-section .display-comment-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    word-wrap: break-word;
    margin-bottom: 60px;
}



@media screen and (max-width:1000px){

    .full-tweet{
        margin-top: 20px;
    }
    .single-tweet-section .comment-input-div{
        width: 90vw;
        margin-bottom: 20px;
    }

    .single-tweet-section .comment-input-div input{
        width: 100%;
        height: 35px;
    }

    .single-tweet-section .comment-input-div button{
        padding: 8px 22px;
        font-size: 19px;
    }
    .single-tweet-section .display-comment-section{
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}