.tweet{
    width: 700px;
    color: white;
    background-color: #1d1b31;
    word-wrap: break-word;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 8px;
}

.content-title{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-image{
    width: 37px;
    height: 35px;
    margin-right: 10px;
}

.content-title a{
    font-size: 23px;
    font-weight: normal;
    letter-spacing: 1.2px;
    color: #1DA1F2;
    text-decoration: none;
}

.admin-btn{
    font-size: 33px;
    cursor: pointer;
    margin-right: 15px;
    transition: all 250ms ease-in-out;
}

.admin-btn:hover{
    filter: brightness(150%);
    transform: scale(1.1);
}

.admin-delete-btn{
    color: #F44336;
}
.admin-edit-btn{
    color: #4CAF50;
}

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content{
    font-size: 19px;
    line-height: 1.2;
    margin-bottom: 15px;
}

.content-date{
    font-size: 18px;
}

