.tweet{
    width: 600px;
    color: white;
    background-color: #1d1b31;
    word-wrap: break-word;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 2px;
}

.tweet .content-title{
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}
.tweet .profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tweet .profile-image{
    width: 37px;
    height: 37px;
    margin-right: 10px;
    border-radius: 100%;
}

.tweet .content-title a{
    font-size: 23px;
    font-weight: normal;
    letter-spacing: 1.2px;
    color: #1DA1F2;
    text-decoration: none;
}

.tweet .admin-btn{
    font-size: 33px;
    cursor: pointer;
    margin-right: 15px;
    transition: all 250ms ease-in-out;
}

.tweet .admin-btn:hover{
    filter: brightness(150%);
    transform: scale(1.1);
}

.tweet .admin-delete-btn{
    color: #F44336;
}
.tweet .admin-edit-btn{
    color: #4CAF50;
}


.tweet .tweet-image{
    width: 100%;
    border-radius: 2px;
    margin-bottom: 20px;
}

.tweet .content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tweet .content{
    font-size: 19px;
    line-height: 1.2;
    margin-bottom: 15px;
}

.tweet .content-date{
    font-size: 18px;
}

.tweet .likes-comments{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tweet .likes-comments button{
    background: transparent;    
    cursor: pointer;
    outline: none;
    border: none;
    transition: all 250ms ease-out;
}

.tweet .likes-comments button:hover{
    filter: brightness(150%);
    transform: scale(1.1);
}
/* Likes Section */

.tweet .likes-container{
    display: flex;
    align-items: center;
}
.tweet .like-btn{
    color: #3D59AB;
}
.tweet .likes-number{
    font-size: 20px;
    letter-spacing: 1px;
    margin-left: 10px;
}
/* Comments container */

.tweet .comments-container{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.tweet .comment-btn{
    color: #3D59AB;
    transition: all 250ms ease-out;
}

.tweet .comments-number{
    font-size: 20px;
    letter-spacing: 1px;
    margin-left: 10px;
    padding-bottom: 4px;
}

.tweet .comment-btn:hover{
    transform: scale(1.1);
    filter: brightness(150%);
}


