.home{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}


.home .input-tweet{
    margin-left: 20px;
}
.home .input-tweet form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    /* width: 250px; */
}
.home .input-tweet form textarea{
    outline: none;
    resize: none;
    border-radius: 2px;
    padding: 10px;
    font-size: 20px;
    background-color: #e7f0ed;
}

.input-tweet-btns{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.home .input-tweet form button{
    width: 100%;
    height: 50px;
    font-size: 24px;
    border-radius: 2px;
    outline: none;
    border: none;
    margin: 12px 0px;
    background: transparent;
    border: 4px solid #3D59AB;
    color: white;
    cursor: pointer;
    transition: all 250ms ease-out;
}
.home .input-tweet form button:hover{
    filter: brightness(150%);
}

.reset-btn{
   margin-top: 0px !important;
   /* background-color: #e91e63 !important; */
   background-color: #3D59AB !important;
   
}

.unAuth{
    width: 349px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.2px;
    height: 100px;
    border-radius: 2px;
    color: white;
    font-size: 25px;
    padding: 10px;
    text-align: center;
    margin-left: 20px;
    background-color: #1d1b31;
}


@media screen and (max-width:1000px){
    .home{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .home .input-tweet{
        margin: 0;
    }

    .home .input-tweet form textarea{
        width: 90vw !important;
        height: 150px !important;
    }

    .input-tweet-btns{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 8px 0px;
    }
    .home .input-tweet form button{
        display: inline-block;
        width: 43vw;
        margin: 10px 0px;
    }
    .reset-btn{
        margin: 0px !important;
    }
    .unAuth{
        width: 90vw;
        margin: 0;
        margin-bottom: 20px;
    }
}