
.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    /* z-index: 1; */
    transition: 0.5s;
}

.navbar a {
  text-decoration: none;
  transition: 0.5s;
  margin-bottom: -1px;
}

.navbar .topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3D59AB;
  background-color: #1d1b31;
  width: 100%;
  height: 70px;
  margin: auto;
  box-shadow: 0px 6px 16px -6px rgba(1, 1, 1, 0.9);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: 0.5s;
  overflow: hidden;
}

.logo-heading{
  /* float: left; */
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 24px 25px;
  text-decoration: none;
  font-size: 22px;
  position: relative;
  transition: 0.5s;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.nav-links {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 24px 25px;
  text-decoration: none;
  font-size: 22px;
  position: relative;
  transition: 0.5s;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.nav-links:hover{
  background-color: #3D59AB;
}

.navbar .twitter-icon{
  font-size: 25px;
  margin-right: 10px;
  
}

.navbar .logo {
  width: 30px;
  position: relative;
  top: -5px;
}

.navbar #active {
  display: flex;
  align-items: center;
  background-color: #3D59AB;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.navbar .topnav .icon {
  display: none;
}

.navbar .logout-btn{
  display: block;
  color: #f2f2f2;
  background-color: #1d1b31;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: 0.5s;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}


.navbar .active{
  background-color: #3D59AB;
}


.menu-toggle .bar{
  width:25px;
  height: 3px;
  margin:5px auto;
  background-color: white;
  transition: all 0.3s ease-in-out;
}


@media screen and (max-width:1000px){

  .navbar{
      position: relative;
  }
  .navbar .topnav{
      width: 100vw;
  }

  .link-container{
      position:absolute;
      display: grid;
      grid-template-columns: repeat(1,auto);
      margin:0;
      width: 100vw;
      top:70px;
      left:-100%;
      opacity:1;
      transition: all 0.5s ease;
  }

  .link-container.mobile-active{
    left:0;
    opacity:1;
    transition: all 0.5s ease;
  }

  .logo-heading{
    background-color: transparent !important;
  }
  .nav-links{
    z-index: 3;
    text-align: center;
    line-height: 60px;
    padding: 10px 0px;
    margin: 0;
    width: 100%;
    background-color: #11101D !important;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 2.2px;
    color: white;
    display: table;
  }
  
  #mobile-menu{
      position: absolute;
      top:20%;
      right: 5%;
      cursor:pointer;
      transform: translate(5%,20%);
  }
  .menu-toggle .bar{
      display: block;
  }

  #mobile-menu.is-mobile-active .bar:nth-child(2){
      opacity: 0;
  }
  #mobile-menu.is-mobile-active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-mobile-active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
  }
}