.individual-comment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;
    border-radius: 2px;
    padding: 10px;
    background-color: #1d1b31;
    word-wrap: break-word;
}

.individual-comment .comment-user{
    color: #1DA1F2;
    font-size: 20px;
    text-decoration: none;
}

.individual-comment .comment-content{
    font-size: 22px;
    color: white;
    font-weight: normal;
    margin-top: 8px;
}


@media screen and (max-width:1000px){

    .individual-comment{
        width: 90vw;
        padding: 8px;
    }

    .individual-comment .comment-user{
        font-size: 17px;
    }
    .individual-comment .comment-content{
        font-size: 17px;
    }
}