.tweets-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    max-height: calc(91vh - 100px);
}

.load-container{
    font-size: 25px;
    margin:0px;
    margin-top: 30px;
    width: 600px;
    text-align: center;
}


.transition-enter {
    opacity: 0.01;
    transform: translate(0, -10px);
  }
.transition-enter-active {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 300ms ease-in;
}
.transition-exit {
    opacity: 1;
    transform: translate(0, 0);
}
.transition-exit-active {
    opacity: 0.01;
    transform: translate(0, 10px);
    transition: all 300ms ease-in;
}